In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.metrics import r2_score, median_absolute_error, mean_absolute_error, mean_squared_error, mean_squared_log_error
from scipy.optimize import minimize
import statsmodels.tsa.api as smt
import statsmodels.api as sm
from tqdm import tqdm_notebook
from itertools import product

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

/Applications/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
def mean_absolute_percentage_error(y_true,y_pred):
    """ Function to calculate MAPE"""
    return np.mean(np.abs((y_true-y_pred)/y_true)) * 100

In [4]:
data = pd.read_csv('Port Harcourt, Nigeria (4.80678 7.002953).csv', index_col=['created_at'], parse_dates=['created_at'] )
data.head()

,entry_id,Temperature_F,Humidity_%,PM2.5_ATM_ug/m3
created_at,,,,
2021-07-26 16:45:59+00:00,198,89,50,40.78
2021-07-26 16:48:03+00:00,199,89,50,40.09
2021-07-26 16:49:59+00:00,200,89,50,37.93
2021-07-26 16:54:03+00:00,201,89,50,33.18
2021-07-26 16:55:59+00:00,202,89,50,37.84

In [5]:
# Check data columns
data.columns

Index(['entry_id', 'Temperature_F', 'Humidity_%', 'PM2.5_ATM_ug/m3'], dtype='object')

In [7]:

drop_cols = ['entry_id', 'Temperature_F', 'Humidity_%']
data.drop(drop_cols, axis=1, inplace=True)
data.head()

                           PM2.5_ATM_ug/m3
created_at
2021-07-26 16:45:59+00:00            40.78
2021-07-26 16:48:03+00:00            40.09
2021-07-26 16:49:59+00:00            37.93
2021-07-26 16:54:03+00:00            33.18
2021-07-26 16:55:59+00:00            37.84